<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1><%=restaurant.name%></h1>
      <nav>
        <a href="/undertheradar"><button class="waves-effect waves-light btn-small">Home</button></a>


        <a href="/undertheradar/<%=neighborhood[0]._id%>"><button class="waves-effect waves-light btn-small">Back to Neighborhood</button></a>


        <a href="/undertheradar/<%=restaurant._id%>/edit"><button class="waves-effect waves-light btn-small">Edit</button></a>
      </nav>
    </header>
    <main>
      Cuisine: <%=restaurant.cuisine%> <br/>
      Rating:
      <% if (restaurant.rating === 0) { %>
        None <br/>
      <% } else { %>
        <%=restaurant.rating%> <br/>
      <% } %>
      Notes: <%=restaurant.comments%> <br/>
      <% if(restaurant.wishList === true) { %>
        <a href="#"><button>Check Off Wish List</button></a>
      <% } %>
      <form class="" action="/undertheradar/restaurant/<%=restaurant._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
      </form>
    </main>
  </body>
</html>
